### API Lambda ====================================================================
module "lambdaAPI" {
  source               = "github.com/turnercode/cp-dawg-iac/modules/aws_lambda"
  constants            = module.constants
  app                  = var.app
  environment          = var.environment
  lambda_bucket_name   = module.constants.lambda_bucket_name
  lambda_function_name = "${var.environment}-${var.app}-api"
  lambda_filename      = "../../handler/API/lambda.zip" # produced by running gmake
  lambda_policy        = data.aws_iam_policy_document.lambda_func.json
  description          = "{{.Description}}"
  tags                 = merge(var.tags, { environment = var.environment })
}

resource "aws_lambda_permission" "allow_api_{{.Name}}" {
  statement_id  = "AllowExecutionFromSNSZeusMetadata"
  action        = "lambda:InvokeFunction"
  function_name = module.lambdaSNS.lambda_func.function_name
  principal     = "api.amazonaws.com"
  source_arn    = module.sns.sns_arn
}

data "aws_iam_policy_document" "lambda_func" {
  statement {
    # sid       = "AllowInvokingLambdas"
    effect    = "Allow"
    resources = ["arn:aws:lambda:us-east-1:026155191598:function:${var.environment}-${var.app}-api:*"]
    actions   = ["lambda:*"]
  }

  statement {
    # sid       = "AllowSecretsManager"
    effect    = "Allow"
    resources = ["arn:aws:secretsmanager:us-east-1:026155191598:secret:zephyr/configs/*"]
    actions = [
      "secretsmanager:GetRandomPassword",
      "secretsmanager:ListSecrets",
      "secretsmanager:GetResourcePolicy",
      "secretsmanager:GetSecretValue",
      "secretsmanager:DescribeSecret",
      "secretsmanager:ListSecretVersionIds",
    ]
  }

}