package main

import (
	"context"
	"fmt"
	"time"

	"github.com/aws/aws-lambda-go/events"
	"github.com/aws/aws-lambda-go/lambda"

	"github.com/turnercode/cp-awfm-common/pkg/log"
)

func handler(ctx context.Context, event events.CloudWatchEvent) (err error) {
	log.WithPayload("context", ctx).Info("context")
	log.WithPayload("event", event).Info("CloudWatchEvent ", event.DetailType)

	// Fancy Hellow World =======================================================
	then, err := time.Parse("2006-01-02T15:04:05", "2021-12-31T00:00:00")
	if err != nil {
		fmt.Println("ERROR", err)
	}

	remaining := time.Until(then)
	resp := fmt.Sprintf("%v days in 2021!!", int(remaining.Hours()/24))
	fmt.Println("Result:", resp)
	// End  Fancy Hellow World ==================================================

	if err != nil {
		return err
	}

	return nil
}

// main
func main() {
	lambda.Start(handler)
}
